@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .list-base {
    @apply ml-32 flex w-full flex-col rounded-lg bg-dark/75 p-8 text-light shadow outline outline-1 outline-dark backdrop-blur-lg;
  }

  .framework {
    @apply underline decoration-4 underline-offset-4;
  }

  .add-form {
    @apply mt-6 flex w-full self-end;
  }

  .add-input {
    @apply w-full rounded-md bg-highlight p-3 outline-none;
  }

  .add-button {
    @apply ml-2 flex items-center justify-center gap-2 rounded-lg bg-dark/75 px-5 py-3 font-medium outline-1 outline-dark transition-all duration-200;
  }
}

:root {
  /* Font Sizes */
  --step-00: clamp(0.8333rem, 0.8302rem + 0.0153vi, 0.844rem);
  --step-0: clamp(1rem, 0.9628rem + 0.1802vi, 1.125rem);
  --step-1: clamp(1.2rem, 1.1109rem + 0.4319vi, 1.4996rem);
  --step-2: clamp(1.44rem, 1.2738rem + 0.8058vi, 1.999rem);
  --step-3: clamp(1.728rem, 1.4495rem + 1.3502vi, 2.6647rem);
  --step-4: clamp(2.0736rem, 1.6341rem + 2.131vi, 3.552rem);
  --step-5: clamp(2.4883rem, 1.8204rem + 3.2382vi, 4.7348rem);
  --step-6: clamp(2.986rem, 1.9973rem + 4.7936vi, 6.3115rem);
  --step-7: clamp(3.5832rem, 2.1472rem + 6.9623vi, 8.4132rem);
  --step-8: clamp(4.2998rem, 2.244rem + 9.9676vi, 11.2149rem);

  /* Line Heights */
  --flat: 1;
  --fine: 1.15;
  --standard: 1.5;
  --loose: 1.7;

  /* Colors */
  --highlight: rgba(248, 250, 252, 0.1);
  --astro: #ca98b7;
  --solid: #7899c4;

  /* Top Gap */
  --space-section: clamp(10rem, 7.5327rem + 11.9626vi, 18rem);
}

body {
  font-size: var(--step-0);
  line-height: var(--standard);
  color: #0d111c;
  overflow-x: clip !important;
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 300ms !important;
}

h1 {
  line-height: 1;
}

h2,
h3,
button,
input,
label {
  line-height: 1.1;
}

section {
  display: flex;
  margin-top: var(--space-section);
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.container {
  max-width: clamp(16rem, 100%, 90rem);
  margin: 0 auto;
  padding: 0 1.5rem;
}
