---
import MainLayout from '@/layouts/MainLayout.astro';
import { AlpineList } from '@/components';
import Bread from '@/components/Bread.astro';
---

<MainLayout title="Alpine">
  <section>
    <Bread />
    <AlpineList />
  </section>
</MainLayout>

<style>
  body {
    background-color: #7cbacc;
  }
</style>
