---
import MainLayout from '@/layouts/MainLayout.astro';
import Bread from '@/components/Bread.astro';
import { Icon } from 'astro-icon/components';
import { list, addTask } from '@/store/todoStore.js';

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData();
    const task = data.get('task');
    const checked = data.get('checked');
    const checkedString = checked?.toString();

    if (task) addTask(task);
    if (checkedString) {
      list.value.splice(parseInt(checkedString), 1);
    }
  } catch (error) {
    if (error instanceof Error) {
      console.log(error.message);
    }
  }
}
---

<script>
  document.addEventListener('astro:page-load', () => {
    const tasks = document.querySelectorAll('[data-delete-button]');
    tasks.forEach((task) => {
      const input = task.previousElementSibling;
      const taskIndex = input.getAttribute('value');
      task.addEventListener('click', (e) => {
        const formData = new FormData();
        formData.append('checked', taskIndex);
        try {
          fetch('/', {
            method: 'POST',
            body: formData,
          });
        } catch (error) {
          if (error instanceof Error) {
            console.log(error.message);
          }
        }
      });
    });
  });
</script>

<MainLayout title="Astro">
  <section>
    <Bread />
    <div class="list-base">
      <p class="text-subtitle">
        Your <span class="framework decoration-astro">Astro</span> todo list
      </p>
      <form method="POST" class="add-form">
        <input
          id="task"
          required
          autocomplete="off"
          name="task"
          placeholder="add new task..."
          class="add-input focus:outline-astro"
        />
        <button
          id="submit"
          type="submit"
          aria-label="add button"
          class="add-button hover:bg-astro"
        >
          <Icon name="plus-icon" class="pointer-events-none" />
          Add
        </button>
      </form>
      <form class={list.value.length > 0 ? 'mt-6' : 'mt-0'}>
        {
          list.value.map((todo, idx) => (
            <div class="flex flex-row items-center">
              <p class="my-1 w-full rounded-lg bg-highlight px-3 py-2">
                {todo}
              </p>
              <input id={todo} value={idx} name="checked" class="sr-only" />
              <button
                data-delete-button
                class="ml-2 rounded-lg bg-highlight p-3"
              >
                <Icon name="delete-icon" />
              </button>
            </div>
          ))
        }
      </form>
    </div>
  </section>
</MainLayout>

<style>
  body {
    background-color: var(--astro);
  }
</style>
