---
import MainLayout from '@/layouts/MainLayout.astro';
import Bread from '@/components/Bread.astro';
import { list } from '@/store/todoStore.js';
---

<script>
  import { actions } from 'astro:actions';

  document.addEventListener('astro:page-load', () => {

    const form = document.querySelector('form');
    console.log(form)

    form?.addEventListener('submit', async () => {
    const formData = new FormData(form);
    await actions.addTask(formData);
  })

    // const tasks = document.querySelectorAll('[data-delete-button]');

    // tasks.forEach((task) => {
    //   const input = task.previousElementSibling;
    //   const taskValue = input.getAttribute('value');
    //   task.addEventListener('click', async () => {
    //     const {data, error } = await actions.deleteTask({ todo: taskValue });
        
    //     if (!error) {
    //       allTodos = data
    //     }
    //   });
    // });
  });
</script>

<MainLayout title="Astro">
  <section>
    <Bread home={true} />
    <div class="list-base">
      <p class="text-subtitle">
        Your <span class="framework decoration-astro">Astro</span> todo list
      </p>
      <form id="astro-form" class="add-form">
        <input
          id="task"
          required
          autocomplete="off"
          name="task"
          placeholder="add new task..."
          class="add-input focus:outline-astro"
        />
        <button
          id="submit"
          type="submit"
          aria-label="add todo button"
          class="add-button hover:bg-astro"
        >
          Add
        </button>
      </form>
      <form class={list.get().length > 0 ? 'mt-6' : 'mt-0'}>
        {
          list.get().map((todo, index) => (
            <div class="flex flex-row items-center">
              <p class="todo-content">{todo}</p>
              <input id={index.toString()} value={todo} class="sr-only" />
              <button
                data-delete-button
                aria-label="delete button"
                class="delete-button"
              >
                X
              </button>
            </div>
          ))
        }
      </form>
    </div>
  </section>
</MainLayout>

<style>
  body {
    background-color: var(--astro);
  }
</style>
