---
import MainLayout from '@/layouts/MainLayout.astro';
import Bread from '@/components/Bread.astro';
---

<MainLayout title="Astro">
  <section>
    <Bread />
    <div id="list">List</div>
  </section>
</MainLayout>

<style>
  body {
    background-color: #ca98b7;
  }
</style>
