---
import MainLayout from '@/layouts/MainLayout.astro';
import { LitList } from '@/components';
import Bread from '@/components/Bread.astro';
---

<MainLayout title="Lit">
  <section>
    <Bread />
    <LitList client:only="lit" />
  </section>
</MainLayout>

<style>
  body {
    background-color: #70a0ff;
  }
</style>
