---
import MainLayout from '@/layouts/MainLayout.astro';
import { PreactList } from '@/components';
import Bread from '@/components/Bread.astro';
---

<MainLayout title="Preact">
  <section>
    <Bread />
    <PreactList client:only="preact" />
  </section>
</MainLayout>

<style>
  body {
    background-color: #a390c6;
  }
</style>
