---
import MainLayout from '@/layouts/MainLayout.astro';
import { SolidList } from '@/components';
import Bread from '@/components/Bread.astro';
---

<MainLayout title="Solid">
  <section>
    <Bread />
    <SolidList client:only="solid-js" />
  </section>
</MainLayout>

<style>
  body {
    background-color: #7899c4;
  }
</style>
