---
import MainLayout from '@/layouts/MainLayout.astro';
import { SvelteList } from '@/components';
import Bread from '@/components/Bread.astro';
---

<MainLayout title="Svelte">
  <section>
    <Bread />
    <SvelteList client:only="svelte" />
  </section>
</MainLayout>

<style>
  body {
    background-color: #bf6040;
  }
</style>
