---
import MainLayout from '@/layouts/MainLayout.astro';
import { VueList } from '@/components';
import Bread from '@/components/Bread.astro';
---

<MainLayout title="Vue">
  <section>
    <Bread />
    <VueList client:only="vue" />
  </section>
</MainLayout>

<style>
  body {
    background-color: #67a88a;
  }
</style>
