<div class="flex flex-col justify-center">
  <strong class="text-min uppercase">Todo List</strong>
  <h1 class="slab mb-6 text-headline">archipelago</h1>
  <p class="text-subtitle mb-12">ärkəˈpeləˌɡō</p>
  <strong>noun</strong>
  <p>a large group or chain of islands</p>
</div>
